* {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 32px;
    justify-content: center;
}

button {
    border: 0;
    background: none;
    font-size: 1em;
    cursor: pointer;
    outline: 0;
}

h1 {
    text-shadow: 0 0px 12px #aaa;
}

/* Room */

.rooms {
    margin-top: 64px;
}

.rooms__table {
    text-align: left;
    width: 320px;
}

.join {
    color: greenyellow;
    text-shadow: 0 0px 8px greenyellow;
    text-decoration: none;
}

.rooms__create {
    margin-top: 32px;
    font-size: 1.125em;
}

/* Game */

.game {
    display: flex;
}

.hud {
    width: 240px;
    border: 1px solid #fff;
    margin-right: 16px;
    padding: 16px;
    position: relative;
}

canvas {
    border: 1px solid #fff;
}

.restart {
    color: indianred;
    text-shadow: 0 0 8px indianred;
    position: absolute;
    bottom: 16px;
    left: 0;
    text-align: center;
    width: 100%;
    transition: .4s ease-in-out;
}

.restart:hover {
    color: red;
    text-shadow: 0 0 8px red;
}